@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media (max-width: 900px) {
        body:has(header[data-open="true"]) {
            @apply scroll:bg-black thumb:bg-white;

            header nav > aside ul a {
                padding: 0;
                font-size: inherit;
            }
        }
    }

    header nav ul:hover:has(li:hover) > li:not(:hover) {
        filter: blur(2px);
    }
}
